body {
  margin: 0;
  /* font-family: 'Nanum Gothic', sans-serif; */
  /* font-weight: 400; */
}

.navbar-brand {
  background-color: initial !important;
  box-shadow: initial !important;
}

.bg-dark {
  background-color: #ff5530 !important;
}

.sidebar .nav-link.active {
  font-weight: bold;
}

p {
  margin-bottom: 0.5rem;
}

.p-11 {
  font-size: 11px;
}

.p-13 {
  font-size: 13px;
}

.white {
  color: #fff !important;
}

.bold {
  font-weight: bold;
}

.w-search {
  width: calc(100% - 200px);
}

.w-200px {
  width: 200px;
}

.w-769 {
  width: 7.69%;
}

.w-14 {
  width: calc(100% / 14);
}

.w-18p {
  width: calc(100% / 18);
}

.h-400 {
  height: 400px;
}

.h-500 {
  height: 500px;
}

.h-800 {
  height: 800px;
}

.inline-block {
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

.btn-xs {
  padding: .15rem .3rem;
  font-size: 13px;
  border-radius: .2rem;
}

.btn-search {
  width: 100px;
  height: 100%;
}

.img-normal {
  width: 300px;
  height: auto;
}

.img-middle {
  width: 150px;
  height: auto;
}

.img-thumb {
  width: 75px;
  height: auto;
  cursor: pointer;
}

.img-thumb:hover,
.img-thumb:focus {
  width: 300px;
  height: auto;
}

.form-control-dark::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff !important;
  font-size: 14px;
}

.form-control-dark::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff !important;
  font-size: 14px;
}

.form-control-dark:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff !important;
  font-size: 14px;
}

.form-control-dark:-moz-placeholder {
  /* Firefox 18- */
  color: #fff !important;
  font-size: 14px;
}


.modal {
  display: block;
  overflow-y: auto;
}

.article-desc-box {
  min-height: 600px;
  max-height: 1000px;
  margin-bottom: 10px;
}

.boder-top-line {
  border-top: 1px solid rgba(0,0,0,.1)
}